html {
    font-size: 16px;
}

body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: burlywood;
    background-image: url('../images/bread.jpg');
    color: white;
    background-repeat: no-repeat;
    /* background-position: 20px 40px; */
    background-size: cover;
}

h1 {
    font-size: 32px;
}

h2 {
    text-transform: uppercase;
}

p {
    line-height: 1.4;
}

h1, h2 p { margin:  16px;

}

main > p:first-child {
    font-weight: bold;
    
}

main > p:nth-child(2) {
    font-style: italic;
}

header {
    font-size: 32px;
}
h1 { 
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p { 
    font-size: 1rem;
}