body{

    color: red;

}

p, h1 {

    color: blue;

}

section h2{

color: green;}

section article h2{

    color: orange;}

/* the dot before world means it is a class */

 

.world h2{

    color: purple;

}

#local h2 {

    color: black;

}

/*this is a css comment */